@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif');
@import url('https://fonts.googleapis.com/css2?family=Bangers');

:root {
    --primary-color: #355070;
    --secondary-color: #6D597A;
    --accent1-color: #EAAC8B;
    --accent2-color: #E56B6F;

    --heading-font: 'Bangers', serif;
    --paragraph-font: 'Instrument Serif', serif;

    --nav-background-color: #EAAC8B;
    --nav-link-color: #B56576;
    --nav-hover-link-color: #355070;
    --nav-hover-background-color: #EAAC8B;
}

/* For design-debug purposes 
* {
    border: 1px solid gray;
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    max-width: 840px;
    border: 1px solid var(--accent2-color);
}

.hero {
    position: relative;
    height: auto;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: 0;
    left: 40px;
    color: white;
}

.hero article {
    position: absolute;
    color: white;
    background-color: rgba(30, 82, 141, 0.5);
    padding: 1rem;
    margin: 2rem;
    top: 10%;
    left: 0;
    width: 90%;
}

.hero .img {
    display: block;
    width: 100%;
    height: auto;
}

.happy {
    float: right;
    width: 200px;
    height: auto;
}

header {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    width: 100%;
    background-color: var(--nav-background-color);
}

.logo {
    display: flex;
    width: 100px;
    grid-row: 1;
    grid-column: 1;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 30%;
}

nav {
    display: flex;
    grid-row: 1;
    grid-column: 2 / 4;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

p {
    margin: 1rem;
    padding: 0;
    text-align: justify;
}

.sociallinks img {
    width: 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    align-items: center;
    padding: 2em 2em 1em 1em;
}

.history-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 95%;
}

.history-container img, p {
    width: 95%;
}

.adventures-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventures-container figure {   
    margin: 0 5px;
}

.adventures-container img {
    width: 100%;
}

footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--accent1-color);;
    margin-top: 2em;
    background-color: var(--accent1-color);
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #f3f3f3;
    display: grid;
}

/*fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 0px;
}

fieldset div {
    display: grid;
    width: 100%;
}

fieldset input[type="radio"] {
    display: list-item;
    justify-content: left;
}*/

/* Google Map */
iframe {
    margin: 1em;
}

.happy-employee {
    background-color: #eee;
}

.happy-employee article {
    margin: 2em 1em;
}

.col-1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.col-3-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}