@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif');
@import url('https://fonts.googleapis.com/css2?family=Bangers');

:root {
    --primary-color: #355070;
    --secondary-color: #6D597A;
    --accent1-color: #EAAC8B;
    --accent2-color: #E56B6F;

    --heading-font: 'Bangers', serif;
    --paragraph-font: 'Instrument Serif', serif;

    --nav-background-color: #EAAC8B;
    --nav-link-color: black;
    --nav-hover-link-color: #355070;
    --nav-hover-background-color: #EAAC8B;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* For design-debug purposes */
     /*border: 1px solid gray;
     filter: grayscale(100%);*/
}


body {
    margin: 0 auto;
    max-width: 1024px;
}

main {
    background-color: beige;
}

.hero {
    position: relative;
    height: auto;
    width: 100%;
}

.hero h1 {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 5rem;
    margin: 0 auto;
}

.hero article {
    position: absolute;
    color: white;
    background-color: rgba(30, 82, 141, 0.8);
    padding: 1rem;
    margin: 2rem;
    top: 30%;
    left: 0;
    width: 90%;
}

.hero .img {
    display: block;
    width: 100%;
    height: auto;
}

.happy {
    float: right;
    width: 200px;
    height: auto;
}

header {
    display: grid;
    padding: 0;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    width: 100%;
    background-color: var(--nav-background-color);
}

.logo {
    display: flex;
    width: 100px;
    grid-row: 1;
    grid-column: 1;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0 30%;
}

nav {
    display: flex;
    grid-row: 1;
    grid-column: 2 / 4;
    justify-content: space-evenly;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

p {
    /*margin: 1em;*/
    padding: 5px;
    text-align: justify;
}

.sociallinks img {
    width: 24px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    align-items: center;
    padding: 2em 2em 1em 1em;
}

.history-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 95%;
}

.history-container img{
    width: 100%;
}

.adventures-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.adventures-container figure {   
    margin: 0 5px;
}

.adventures-container img {
    width: 100%;
}


footer {
    display: grid;
    grid-template-columns: 3fr 1fr;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--accent1-color);;
    background-color: var(--accent1-color);
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 80%;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #f3f3f3;
    display: grid;
}

fieldset {
    border: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

fieldset div {
    margin: 1em 1em;
    display: grid;
}

button {
    margin: 1em 1em;
}

/* Google Map */
iframe {
    margin: 1em;
}

.happy-employee {
    background-color: #eee;
}

.happy-employee article {
    margin: 2em 1em;
}

.col-1-3 {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.col-3-1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.col-span {
    display: grid;
    grid-column: 1 / 4;
}


/* Trips */
.trips-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    gap: 1%;
}

.trips-item {
    width: 49%;
    transition:
        background-color 1s ease;
}

.trips-item:hover {
    background-color: var(--accent1-color);
}

.trips-item img {
    width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
    margin: 0 auto;
    padding: 2% 10%;
    font-family: Arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

main section:nth-child(even) {
    /*background-color: #eee;*/
}

main {
    padding-bottom: 2rem;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content:space-evenly;
    padding: 25px
}

.testimonials-item {
    grid-column: span 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
    border-bottom-right-radius: 30%;
    background-color: #EAAC8B;
}

.testimonials-item img {
    width: 100%;
    grid-column: 2 / 3;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 50%;
    border: 3px solid var(--accent2-color);
}
.testimonials-item div {
    width: 100%;
    grid-column: 1 / 4;
    margin: 0 auto;
}

.testimonials p {
    text-align: center;
    margin: 0 auto;
    font-style: italic;
    margin-bottom: 10px;
    padding: 0 1rem;
    color: var(--nav-hover-link-color);
}

.engage {
    display: flex;
    flex-direction: row;
    align-items:start;
    gap: 5px;
}

.engage-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.engage-item img {
    border-bottom-right-radius: 30%;
    /*padding: 1%;*/
    width: 100%;
    height: 100%
}

.engage-item p{
    line-height: 1.5rem;
    justify-content: center;
    text-align: center;
    height: 100%;
    margin-top: 1rem;
}

.inner-form {
    display: flex;
    flex-direction: row;
    width: 80%;
}